.media {
  /* margin: 0 90px 20px 80px; */
}

.feature1,
.feature2,
.feature3,
.feature4,
.feature5 {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  margin-bottom: 66px;
  margin-top: 46px;
  gap: 50px;
}
.feature5 {
  padding-bottom: 70px;
}

p {
  color: #c088d9;
  font-family: 'quicksand';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.04em;
}
.feature1 a,
.feature2 a,
.feature3 a,
.feature4 a,
.feature5 a {
  color: white;
  text-decoration: none;
}
/* :hover a {
  text-decoration: underline;
} */

img {
  width: 400px;
}

/* .feature2 { */
/* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'text media';
  display: inline-flex; */

/* .line {
  width: 100%;
  height: 4px;
  background: black;
  margin: 30px 0 30px 100px;
} */

footer {
  display: flex;
  gap: 40%;
  /* margin: 30px 0 30px 30px; */
  padding: 64px 32px;
  margin-top: -66px;
  background: #391f5b;
  border: 2px solid #5c4678;
}
