.feature1,
.feature2,
.feature3,
.feature4,
.feature5 {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 66px;
  margin-top: 46px;
  gap: 50px;
  padding-right: 150px;
  padding-left: 150px;
}
.feature5 {
  padding-bottom: 70px;
}

p {
  color: #c088d9;
  font-family: 'quicksand';
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.04em;
}
.feature1 a,
.feature2 a,
.feature3 a,
.feature4 a,
.feature5 a {
  color: white;
  text-decoration: none;
}

img {
  width: 400px;
}

footer {
  display: flex;
  gap: 40%;
  /* margin: 30px 0 30px 30px; */
  padding: 64px 150px;
  margin-top: -66px;
  background: #391f5b;
  border: 2px solid #5c4678;
}

form {
  gap: 20%;
}
